
<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Signup now</title>
      

      <link rel="stylesheet" href="{% static 'css/login.css'%}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <div class="bg-img">
         <div class="content" style="width: 430px;">
            <header>Sign Up</header>
            
            <form action="{% url 'saves'%}" onsubmit="return validateForm()"  method = "POST" name = "form" >
                {% csrf_token %}
               <div class="field">
                  <span class="fa fa-user"></span>
                  <input type="text" name ="name"  placeholder="Name" required>
               </div>
               <div class="field space">
                  <span class="fas fa-envelope"></span>
                  <input type="text" name="email"  placeholder="Email " required>
               </div>
               <div class="field space">
                  <span class="fas fa-phone-alt"></span>
                  <input type="number" name="phone" maxlength="10" placeholder="Phone" required>
               </div>
               <div class="field space">
                  <span class="fas fa-phone-alt"></span>
                  <select class="drop_down" name="role"  style="width: 314px; background-color: #f5f5f5; border: none; color: #8F8787; font-size: 14px;">
                     <option value="user" selected>User</option>
                     <option value="trainer">Trainer</option>
                   </select>
               </div>
               <div class="field space">
                  <span class="fa fa-lock"></span>
                  <input type="password" name="password" class="pass-key"  placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                  <span class="show">SHOW</span>
               </div>
                  <div class="field space">
                  <span class="fa fa-lock"></span>
                  <input type="password" name="confirm_password" class="pass-key"  placeholder="Confirm Password" required>
                  <span class="show">SHOW</span>
               </div>
               
               <div class="field space">
                  <input type="submit" value="Register">
               </div>
            </form>  
               
           <div class="signup">
               Already have Account?
               <a href="{% url 'login'%}">Login Now</a>
            </div>
         </div>
     
      <script>
         const pass_field = document.querySelector('.pass-key');
         const showBtn = document.querySelector('.show');
         showBtn.addEventListener('click', function(){
          if(pass_field.type === "password"){
            pass_field.type = "text";
            showBtn.textContent = "HIDE";
            showBtn.style.color = "#3498db";
          }else{
            pass_field.type = "password";
            showBtn.textContent = "SHOW";
            showBtn.style.color = "#222";
          }
         });

         function validateForm(){

            var name = document.forms['form']['name'].value;
            var email = document.forms['form']['email'].value;
            var phone = document.forms['form']['phone'].value;
            var pass1 = document.forms['form']['password'].value;
            var pass2 = document.forms['form']['confirm_password'].value;
            
            var n = email.indexOf('@');
            
            alert(name);
            if (name == "") {

               alert("Name must be filled out");
            return false;
         } else if(!isNaN(name)){
            alert("Name must be character");
            return false;
         

          } else if(email == ""){
            alert("Email must be filled out");
            return false;
         }  else if(phone == ""){
            alert("Phone must be filled");
            return false;
         } else if (phone.length!=10) {
            alert("number should be 10");
            return false;
         } 
          else if(pass1 == ""){
            alert("pssword must be filled");
            return false;
         }else if(pass2 == ""){
            alert("re password must be filled");
            return false;
         } else if(pass1 != pass2){
            alert("password must be same");
         } else if(

         )


         

       }
      </script>
   </body>
</html>